/*Barra de Navegacion*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.contain1 {
    width: 100%;
    display: flex;
    justify-content: center;
    mask-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-color: black;
    z-index: 1;
    margin-right: 25px;
}

/* Estilos de la Navbar */
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    position: sticky;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
    font-size: 1.5rem;
    width: 70%;
}

.logo img {
    width: 25vh;
    margin: 0;
    mix-blend-mode: multiply;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
}

.nav-links a:hover {
    color: #d4c92e;
    text-shadow: 2px 2px 15px white;
}

/* Botón de acción */
.btn-cta {
    background-color: #ffd900;
    color: #1a1a1a !important;
    padding: 0.5rem 1.2rem;
    border-radius: 25px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-cta:hover {
    background-color: #ffd900;
    transform: scale(1.1);
}

/* Responsividad básica (Mobile) */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }


}

/*CARRUSEL DE BANENR */


/* Contenedor principal */
.carrusel {
    display: flex;
    margin: 0 auto;
    width: 100vw;
    /* 100% del ancho de la pantalla */
    height: 80vh;
    /* 100% del alto de la pantalla */
    overflow: hidden;
}

/* Contenedor de imágenes */
.slides {
    display: flex;
    width: 400%;
    /* 4 imágenes */
    height: 100%;
    animation: slide 16s infinite;
}

/* Imágenes */
.slides img {
    width: 100vw;
    /* Cada imagen ocupa toda la pantalla */
    height: 100vh;
    object-fit: cover;
    /* No se deforman */
}

/* Animación */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100vw);
    }

    45% {
        transform: translateX(-90vw);
    }

    50% {
        transform: translateX(-200vw);
    }

    70% {
        transform: translateX(-180vw);
    }

    75% {
        transform: translateX(-280vw);
    }

    95% {
        transform: translateX(-260vw);
    }

    100% {
        transform: translateX(0);
    }
}

h1 {
    position: absolute;
    z-index: 5;
    margin: 0 auto;
    right: 22%;
    top: 44%;
    color: white;
    text-shadow: 2px 2px 20px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
}

/*MEDIO DONDE ESTAN LOS PLATOS*/
/*UNO*/
.uno {
    background: #1a1a1a;
    position: relative;
}

.uno img {
    width: 53vw;
    height: 60vh;
    object-fit: cover;
}

img {
    object-fit: cover;
}

.subuno {
    width: 40%;
    position: absolute;
    right: 6%;
    top: 25%;
}

.uno h2 {
    color: white;
    margin: 20px;
    border: 1px solid red;
    height: 10vh;
    font-size: 3.4rem;
    text-shadow: 2px 2px 5px black;
}

.uno p {
    color: white;
    margin: 20px;
    border: 1px solid red;
    height: 10vh;
    font-weight: 100;
    width: 70%;
    font-size: 1.5rem;
}

.uno button {
    border: 1px solid;
    right: 50%;
    position: absolute;
    width: 10vw;
    height: 5vh;
    border-radius: 30px;
    font-size: 1.5rem;
    background-color: #ffd900;
    font-weight: 900;
}

/*DOS*/

.dos {
    background: #1a1a1a;
    position: relative;
}

.dos img {
    width: 53vw;
    height: 60vh;
    display: flex;
    margin: 0;
    margin-left: 46vw;
}

.subdos {
    width: 40%;
    position: absolute;
    left: 6%;
    top: 25%;
}

.dos h2 {
    color: white;
    margin: 20px;
    border: 1px solid red;
    height: 10vh;
    font-size: 3.4rem;
    text-shadow: 2px 2px 5px black;
}

.dos p {
    color: white;
    margin: 20px;
    border: 1px solid red;
    height: 10vh;
    font-weight: 100;
    width: 70%;
    font-size: 1.5rem;
}

.btn-uno {
    border: 1px solid;
    right: 50%;
    position: absolute;
    width: 10vw;
    height: 5vh;
    border-radius: 30px;
    font-size: 1.5rem;
    background-color: #ffd900;
    font-weight: 900;
}

.btn-dos {
    border: 1px solid;
    right: 50%;
    position: absolute;
    width: 10vw;
    height: 5vh;
    border-radius: 30px;
    font-size: 1.5rem;
    background-color: #ffd900;
    font-weight: 900;
}






footer {
    background-color: #111;
    color: white;
    padding: 30px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.redes {
    display: flex;
    flex-direction: column;
    /* En bloque */
    gap: 15px;
}

.redes a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: 0.3s;
}

.redes a:hover {
    color: #00bfff;
    transform: translateX(5px);
}

.redes img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
}